.body {
    width:100%; 
    height:100vh;
    background-color: hsl(30, 38%, 90%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

 .a {
    width:50%;
    display:flex;
    border-radius: 10px;
    overflow: hidden;
}

 .b {
    width:50%;
    border-radius: 10px;
}

 .c {
    width:40%;
    background-color:hsl(0, 0%, 100%);
    text-align: left;
    padding:50px;
    margin-right: 50px;
}

 .pi{
    font-family:'Montserrat', sans-serif;
    letter-spacing: 6px;
    color:hsl(228, 12%, 48%)
}

 .hi {
    font-weight: 700; 
    font-family: 'Fraunces', serif;
}

.pii {
    font-size:14px;
    font-family:'Montserrat',sans-serif;
    font-weight:500,700;
    color: hsl(228, 12%, 48%);
    line-height: 25px;

}

 .d {
    display:flex;
}

.piii {
     font-weight: 900,900;font-size: 18px; 
     font-family: 'Fraunces', serif;
     color: hsl(158, 36%, 37%)
}

 .piv {
     text-decoration: line-through;
     font-size:14px;font-weight: 700,500;
     font-size: 10px; 
     font-family:'Montserrat', sans-serif;
     margin-top: 25px;
     margin-left: 15px;
     color: hsl(228, 12%, 48%)
}
 .bo1 {
      width:100%;
      height:35px;
      border-radius:10px;
      cursor: pointer;
      border: none;
      color: #fff;
}

 .bo2 {
      justify-content: center;
      font-family: 'Montserrat', sans-serif;
      margin-right: 20px;
      justify-items: center;
      align-content: center;
      align-items: center;
      font-weight: 700;
      color: white;
}